# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
clientApp/node_modules
clientApp/.pnp
clientApp/.pnp.js

# testing
clientApp/coverage

# next.js
clientApp/.next
clientApp/out/

# production
clientApp/build

# misc
clientApp/.DS_Store
clientApp/*.pem
appwrite/

# debug
clientApp/npm-debug.log*
clientApp/yarn-debug.log*
clientApp/yarn-error.log*

# local env files
clientApp/.env*.local

# vercel
clientApp/.vercel

# typescript
clientApp/*.tsbuildinfo
clientApp/next-env.d.ts
