# Appwriteの基本設定
NEXT_PUBLIC_DOMAIN='https://your-domain.exsample.com/'
NEXT_PUBLIC_MEILISEARCH_API_KEY=your_meilisearch_api_key
NEXT_PUBLIC_MEILISEARCH_HOST="https://your-meilisearch-domain.exsample.com/"
NEXT_PUBLIC_SIGNALING_SERVER_URL="http://your-signaling-domain.exsample.com/"


# 外に見せない。
APPWRITE_ENDPOINT='https://endpoint-appwrite.exsample.com/v1'
APPWRITE_DATABASE_ID=your_database_id
APPWRITE_POSTS_COLLECTION_ID=your_posts_collection_id
APPWRITE_POSTS_SUB_COLLECTION_ID=your_posts_sub_collection_id
APPWRITE_ACTORS_COLLECTION_ID=your_actors_collection_id
APPWRITE_ACTORS_SUB_COLLECTION_ID=your_actors_sub_collection_id
APPWRITE_API_KEY=your_appwrite_api_key
APPWRITE_ENCRYPTION_KEY=your_encryption_key
MEILISEARCH_API_KEY=your_meilisearch_master_key
APPWRITE_NOTIFICATIONS_COLLECTION_ID=your_notifications_collection_id
APPWRITE_STORAGE_ID=your_bucket_id
APPWRITE_PROJECT_ID=your_project_id
APPWRITE_FOLLOWS_COLLECTION_ID=your_follows_collection_id
APPWRITE_LIKES_COLLECTION_ID=your_likes_collection_id